<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.plataformaam.mobile.clientefinal" >

    <uses-feature android:name="android.hardware.camera" android:required="true"/>


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <permission
        android:name="com.plataformaam.mobile.clientefinal.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" >
    </permission>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCboSK1BlE-5rpM8qM1IhDTRA6mqdq0V48" />

        <activity
            android:name=".StartScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".userinterfaces.UserLoginUI"
            android:label="@string/title_activity_user_login_ui" >
        </activity>

        <service
            android:name=".services.MyService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".userinterfaces.RegisterUserUI"
            android:label="@string/title_activity_register_user_ui" >
        </activity>
        <activity
            android:name=".userinterfaces.GlobalPanelUI"
            android:label="@string/title_activity_global_panel_ui" >
        </activity>

        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <service
            android:name=".services.MyVComService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".userinterfaces.UserLogoutUI"
            android:label="@string/title_activity_user_logout_ui" >
        </activity>

        <service
            android:name=".services.MyLocationService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
